##### List Assignment

##### 1- Write a code to compute the sum of the two lowest numbers and the two highest numbers in the following list.

In [4]:
import numpy as np

In [1]:
my_list = [34, 56, 76, 45, 2, 12, 67, 98, 37, 54, 66]

In [6]:
min1 = np.min(my_list)
min1

2

In [10]:
ls = []
for n in my_list:
    if n != min1:
        ls.append(n)
 
print(ls)
min2 = np.min(ls)       
print(min1,min2)

[34, 56, 76, 45, 12, 67, 98, 37, 54, 66]
2 12

In [11]:
max1 = np.max(my_list)
max1

98

In [15]:
ls2 = []
for n in my_list:
    if n != max1:
        ls2.append(n)
 
print(ls2)
max2 = np.max(ls2)       
print(max1,max2)

[34, 56, 76, 45, 2, 12, 67, 37, 54, 66]
98 76

In [12]:
print(min1+min2)

14

In [17]:
print(max1+max2)

174

##### 2- The following two lists contain student names and scores. Write a code that gets the name from the user and prints the score of that student.

In [50]:
names = ["David", "Michael", "John", "James", "Greg", "Mark", "William", "Richard", "Thomas", "Steven","Mary", "Susan", "Maria", "Karen", "Lisa", "Linda", "Donna", "Patricia", "Debra", "Eric"]
#names

In [34]:
scores = [99, 87, 78, 86, 68, 94, 76, 97, 56, 98, 76, 87, 79, 90, 73, 93, 82, 69, 97, 99]
#scores

In [24]:
for n,s in zip(names,scores):
    print(n,s)

David 99
Michael 87
John 78
James 86
Greg 68
Mark 94
William 76
Richard 97
Thomas 56
Steven 98

In [29]:
ind = names.index("James")
ind

3

In [30]:
scores[ind]

86

In [31]:
name = input("Enter the name:")

Enter the name:James

In [32]:
scores[names.index(name)]

86

In [43]:
names.index(name)

3

##### 3- By using the two lists above, what is the maximum score and how many students got that score?

In [35]:
max_score = np.max(scores)
max_score

99

In [40]:
ls3=[]
for i,each in enumerate(scores):
    print(i, each)
    if each == max_score:
        ls3.append(i)
        
#print(ls3)

0 99
1 87
2 78
3 86
4 68
5 94
6 76
7 97
8 56
9 98
10 76
11 87
12 79
13 90
14 73
15 93
16 82
17 69
18 97
19 99
[0, 19]

In [54]:
ls4 = [names[i] for i in ls3]
ls4

['David', 'Eric']

In [56]:
from operator import itemgetter
print(itemgetter(*ls3)(names))

('David', 'Eric')