In [1]:
#conditions
a=20
b=30
if (b>a):
    print('b is greater than a')

b is greater than a

In [3]:
num=int(input('Enter a number :'))

Enter a number :19

In [4]:
if num > 10:
    print('number is greater than 10')
else:
    print('number is less than 10')

number is greater than 10

In [5]:
loc = input("enter location :")
if loc == 'USA':
    print('Deliver to USA')
elif loc == 'UK':
    print('Deliver to UK')
else:
    print('Dont deliver')

enter location :India
Dont deliver

In [9]:
#nested if 
x=31
if x>10:
    print("Above 10")
    if x >20:
        print("And Above 20")
else:
    print('less than 10')

Above 10
And Above 20

In [10]:
#pass 
a=50
b=100
if (b>a):
    pass

In [11]:
#For loops
cities=["Tokyo","Washington","London"]
for city in cities:
    print(city)

Tokyo
Washington
London

In [12]:
#we combine for loops and if statement, which is very common in programming:
ls=[1,2,3,4,5,6,7,8,9,10]
for number in ls:
    if number % 2 == 0:
        print(number)

2
4
6
8
10

In [13]:
str = "python"
for s in str:
    print(s)

p
y
t
h
o
n

In [14]:
for _ in "hello":
    print("hello")

hello
hello
hello
hello
hello

In [16]:
## Iterate over a list of tuples
ls_of_tuples = [(1,2),(3,4),(4,5)]
for t1,t2 in ls_of_tuples:
    print(t1,t2)

1 2
3 4
4 5

In [18]:
d={'name':'john','age':12}
for key in d.keys():
    print(key)

name
age

In [19]:
for value in d.values():
    print(value)

john
12

In [20]:
#break
cities=["Tokyo","Washington","London"]
for city in cities:
    if city == "Washington":
        break
    print(city)

Tokyo

In [22]:
#continue
cities=["Tokyo","Washington","London"]
for city in cities:
    if city == "Washington":
        continue
    print(city)

Tokyo
London

In [23]:
#range To loop through a set of code a specified number of times, 
#we can use the range() function,To loop through a set of code a 
#specified number of times, we can use the range() function,

for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [24]:
for x in range(2,10):
    print(x)

2
3
4
5
6
7
8
9

In [25]:
for x in range(2,20,3):
    print(x)

2
5
8
11
14
17

In [26]:
#while loops 
x = 0
while x < 5:
    print(x)
    x=x + 1

0
1
2
3
4

In [2]:
#break
x=0
while (x<5):
    print(x)
    if (x==2):
        break
    x = x+1

0
1
2

In [6]:
#pass
x=[1,2,3,4]
for item in x:
    pass

In [ ]:
#continue
name='python'
for each in name:
    if each == 't':
        continue
    print(letter)