#### Booleans

In [1]:
#logical values and returns True or False
print(1==1)

True

In [2]:
print(1==2)

False

In [3]:
print(1<2)

True

#### Integers and Float

In [4]:
x=20
y=20.5
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

In [7]:
1+1

2

In [8]:
2-1

1

In [9]:
3*2

6

In [10]:
8/2

4.0

In [11]:
7%4

3

In [12]:
4**2

16

#### String

In [13]:
my_string='Welcome'
print(my_string)

Welcome

In [14]:
print("""Hello, welcome to my world""")

Hello, welcome to my world

In [17]:
#triple quotes is that it allows us to type multiple lines of sentence that we cannot do in single or double quotes.
print("""Magnimind offers you to wide variety of courses provided by 
top-notch data scientist""")

Magnimind offers you to wide variety of courses provided by
top-notch data scientist

In [19]:
fruit1 = "apple"
fruit2 = "banana"
print(fruit1, " & ",fruit2 )

apple  &  banana

In [25]:
#indexing- grab a single character from that string

In [20]:
# Print new line
print("Hello \n World")

Hello
 World

In [21]:
len('python')

6

In [22]:
str="python"
str[2]

't'

In [23]:
str[0]

'p'

In [24]:
str[-1]

'n'

###### Slicing is different from indexing because, in slicing, you want to grab multiple characters of a string. We do that by using the square brackets with this syntax [start:stop: step].

- Start: is the start of the index to start slicing from.

- Stop : is the index that you'll go upto but it's not included.

- Step : is the size of steps it takes between the charachters.

In [26]:
str2="Intro to python"
str2[0:5]

'Intro'

In [27]:
str2[6:]

'to python'

In [28]:
str2[:5]

'Intro'

In [29]:
str2[::2]#Grab everything from the begining to the end with jumps of 2.

'Itot yhn'

##### immutability
The immutability of string is that you can't change a character from a string.

In [30]:
name='john'
name[0]='k'

TypeError: 'str' object does not support item assignment

In [31]:
#concatenate strings 
x="Hello"
y="World"
z = x + y
z

'HelloWorld'

In [32]:
x + ' ' + y

'Hello World'

In [33]:
'2' + '3'

'23'

In [35]:
x="hello"
x*3

'hellohellohello'

In [36]:
#string formatting
print("Intro to {}".format("python"))

Intro to python

In [37]:
#print by defaukt order
print("{} {} {}".format("Intro","to","python"))

Intro to python

In [38]:
#print by string index
print("{2} {1} {0}".format("Intro","to","python"))

python to Intro

In [39]:
# Print using keys
print('{I} {T} {P}'.format(I='Intro',T='to',P='python'))

Intro to python

In [40]:
#print using variable
str3="Intro to python"
print("{}",format(str3))

{} Intro to python

##### f-strings
F-strings is simply injecting variables strings in the curly braces without the .format method

In [41]:
first="john"
last="doe"
print(f'{first}{last}')

johndoe

##### capitalize
#Capitalize the first letter in string 'name'

In [42]:
first.capitalize()

'John'

In [44]:
str_upper = first.upper()
str_upper

'JOHN'

In [45]:
str_upper.lower()

'john'

##### split 
What split does is that it splits all the words in a string into a list (we'll talk about later). By default it splits every word after each white space.

In [46]:
name ="john doe"
name=name.split(" ")
name

['john', 'doe']

In [48]:
sentence = "Welcome to our course. Today we are going to discuss strings"
sentence=sentence.split('.')
sentence

['Welcome to our course', ' Today we are going to discuss strings']

In [49]:
name ="john,doe"
name=name.split(",")
name

['john', 'doe']

In [51]:
#Count how many times letter 'o' appeared
name="jooohn dooooe"
name.count("o")

7

In [54]:
#Find position of letter 'h'
name ="john"
name.find("n")

3

In [55]:
#Find position of letter 'h'
name ="john"
name.index("h")

2

In [56]:
# Remove extra white spaces from the whole string
name= " Hello "
name.strip()

'Hello'

In [58]:
# rstrip to remove white spaces from the right
name = "  Hello"
name.lstrip()

'Hello'

In [59]:
# Replace letter 'j' with 'u'
name="john"
name.replace('j','u')

'uohn'

In [60]:
# Replace letter 'john' with 'mark'
name = "john doe"
name.replace('john','mark')

'mark doe'