In [2]:
#construct a list
animals = ['cat','dog','cow']
animals

['cat', 'dog', 'cow']

In [3]:
ls2 = ['Hello',2,44.5,True,None]
ls2

['Hello', 2, 44.5, True, None]

In [4]:
#list within a list
list_of_list = [[1,2],[3,4],[5,7]]
list_of_list

[[1, 2], [3, 4], [5, 7]]

In [6]:
# List of different data types
list_mix = ['Python',123,'SQL',2.6]
list_mix

['Python', 123, 'SQL', 2.6]

In [7]:
#Empty list can be created by specifying open square brackets.
ls=[]

In [8]:
# Initilize a list and get its length
ls3=['Rice','Orange','Tomato','Kiwi']
ls3

['Rice', 'Orange', 'Tomato', 'Kiwi']

In [9]:
len(ls3)

4

In [10]:
ls4=['A','B','C','D','E']
ls4

['A', 'B', 'C', 'D', 'E']

In [11]:
# Indexing the first element
ls4[0]

'A'

In [12]:
# Indexing the first element
ls4[-1]

'E'

In [13]:
#Slicing here is the same as string slicing, we grab multiple items.
# Grab from the first element at index 1 to index 3 and not include it.
ls4[1:3]

['B', 'C']

In [14]:
# Grab from the first element to index 3 and not include it.
ls4[0:3]

['A', 'B', 'C']

In [15]:
# Grab from the first element to the end of the list.
ls4[0:]

['A', 'B', 'C', 'D', 'E']

In [17]:
#create 2 different lists
lst = [1,2,3]
lst2 = [4,5,6]
new_list = lst + lst2
new_list

[1, 2, 3, 4, 5, 6]

In [36]:
#To change an entry in a list, you overwrite it by specifying its index.
list_of_items = ['Rice', 'Orange', 'Tomato', 'Kiwi']
list_of_items[1]='Beans'
list_of_items

['Rice', 'Beans', 'Tomato', 'Kiwi']

In [37]:
#extend the list with many items at once, by adding a new list to the original list.
list_of_items.extend(['Grapes','Apples'])
list_of_items

['Rice', 'Beans', 'Tomato', 'Kiwi', 'Grapes', 'Apples']

In [38]:
#add a new element or item to the list
list_of_items.append('Blueberry')
list_of_items

['Rice', 'Beans', 'Tomato', 'Kiwi', 'Grapes', 'Apples', 'Blueberry']

If you want to add an element to the end of a list you'll use Append() it will be added as it is, But extend() adds more than one item at a time with any type of data structure,

In [39]:
# in insert you can specify the index to insert in.
list_of_items.insert(1,"Dal")
list_of_items

['Rice', 'Dal', 'Beans', 'Tomato', 'Kiwi', 'Grapes', 'Apples', 'Blueberry']

In [40]:
## Pop the first item from the end
list_of_items.pop()

'Blueberry'

In [41]:
# Pop the second item from the end
list_of_items.pop(2)

'Beans'

In [42]:
list_of_items

['Rice', 'Dal', 'Tomato', 'Kiwi', 'Grapes', 'Apples']

In [43]:
#Remove item from a list by passing the item name.
list_of_items.remove('Tomato')

In [44]:
list_of_items

['Rice', 'Dal', 'Kiwi', 'Grapes', 'Apples']

In [45]:
#Sort elements in a list by ascending or descending order.
ls= [2,3,1,0,9,8,7]
ls.sort()

In [46]:
ls

[0, 1, 2, 3, 7, 8, 9]

In [47]:
ls2= [2,3,1,0,9,8,7]
ls2.sort(reverse=True)
ls2

[9, 8, 7, 3, 2, 1, 0]

In [50]:
#Count the number of occurrence of an item in a list
ls2= [2,3,1,8,0,9,8,8,7]
ls2.count(8)

3

In [52]:
#Reverse the elements of the list
ls=[1,2,4,5]
ls.reverse()
ls

[5, 4, 2, 1]

In [54]:
#Returns the index or position of an item in a list
list_of_animals = ['cat', 'dog', 'rabbit','owl','lion']
list_of_animals.index('dog')

1

In [55]:
# Search for dog in a range from index 0 to index 2
list_of_animals.index('dog',0,2)

1

In [56]:
#To clear and remove the whole list, we use the clear() method.
list_of_animals = ['cat', 'dog', 'rabbit','owl','lion']
list_of_animals.clear()

In [57]:
list_of_animals

[]

In [58]:
#Copy method return a copy of the list to another list.
list_of_animals = ['cat', 'dog', 'rabbit','owl','lion']
list_of_animals2 = list_of_animals.copy()
list_of_animals2

['cat', 'dog', 'rabbit', 'owl', 'lion']